body {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
    margin-right: 30px;
}

/*navigation*/
header { 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 30px;
}

nav a {
    font-size: 1em;
    color: #0065FC ;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover {
    color: cornflowerblue ;
    border-top: 3px solid cornflowerblue;
    padding-top: 20px;
}


input {
    border: none;
    height: 40px;
}

button {
    height: 40px;
    border: 1px #0065FC;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
}