body {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
    margin-right: 30px;
}

#content {
    max-width: 1440px;
    margin: auto;
}

/*navigation*/
header { 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav li {
    margin-right: 30px;
}

header nav a {
    font-size: 1em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}
header nav a:hover {
    color: #0065FC ;
    border-top: 3px solid #0065FC;
    padding-top: 20px;
}

#sign-up{
    font-weight: bold;
    color: #0065FC;
}

/*Recherche*/ 

input {
    border: none;
    height: 40px;
}

#search-button {
    height: 40px;
    border: 1px #0065FC;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}
#recherche{
    font-size:medium;
    
}
#recherche nav{
    display: flex;
    align-items: center;
}

#recherche nav p {
    font-weight: bold;
    margin-right: 12px;
}

#filters {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    padding: 0 8px 0 0;
    align-items: center;
    height: 34px;
    margin-right: 12px;
    margin-top: 8px;
}

.filter-button:hover {
    cursor: pointer;
    background: #0065FC;
    color: white;
}

.filter-button i{
    background-color: #bfd8fd;
    border-radius: 15px;
    height: 24px;
    width: 24px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: #0065FC;
}
#info{
    display: flex;
    align-items: center;
}
#info i.fas.fa-info{
    margin-right: 30px;
    border: solid grey 1px;
    border-radius: 50px;
    padding: 6px;
    color: #0065FC;
}
